---
import {getCollection} from "astro:content"
import Layout from "../layouts/Layout.astro";
import TestimonialsSection from "../components/Homepage/TestimonialsSection.astro";
import CallToAction from "../components/CallToAction.astro";
import { Image } from "astro:assets";

const allWorks = await getCollection('works')
console.log(allWorks)
---

<Layout title="Our Work - Extensibl Media">
  <section class="container mx-auto pt-0 lg:pt-20 py-20 lg:gap-16 px-4">
    <h1 class="lg:text-center text-4xl md:text-5xl lg:text-6xl font-extrabold">
      Recent Work
    </h1>
    <div class="grid grid-cols-6 gap-8 mt-12 lg:mt-20">
      {allWorks.map((work: any) => (
        <a href={work.data.url} target="_blank" rel="noopener noreferrer" class="col-span-6 md:col-span-3 lg:col-span-2 w-full aspect-square shadow-md rounded-xl">
          <div class="relative w-full h-full work-card">
              <img src={work.data.images.thumbnail} class="rounded-xl"/>
              <div class="work-details p-8 flex flex-col">
                <p class="text-3xl font-semibold">{work.data.client}</p>
                <p class="text-xl font-semibold">{work.data.category}</p>
                <div class="mt-auto w-20 h-20 rounded-full bg-white flex items-center justify-center text-2xl">➥</div>
              </div>
          </div>
        </a>
      ))}
    </div>
  </section>
	<CallToAction heading="Scale your team without the extra overhead" subHeading="Build your dream team with our scalable workforce subscription today." buttonText="Book A Call Today" ctaLink="/book-a-call"/>
  <TestimonialsSection />
</Layout>

<style>
  .work-details {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(125, 226, 209, 0.9);
    z-index: 10;
    border-radius: 0.75rem;
    transition: all 0.2s ease-in-out;
  }

  .work-details:hover {
    opacity: 1;
    transform: scale(0.8); 
  }

  .work-details * {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .work-details:hover * {
    opacity: 1;
    transform: scale(0.8); 
  }
</style>